<link rel='stylesheet' href='./CSS/style.css'>

{{>navbar}}

<div class="contact">
<h1> CONTACT US</h1>
<h2>Do You Have Any Needs? get in touch with us!</h2>

<form class="form">
    <input type="text" class="coordonée" placeholder="Name"/>
     <input type="text" class="coordonée" placeholder="Email"/>
      <input type="text" class="coordonée" placeholder="phone"/>
      <textarea  class="message" placeholder="type your Message here..."></textarea>
       

</form>

</div>
