<link rel='stylesheet' href='./CSS/Home.css'>

{{>navbar}}

<div class='home-page'>
    <h1>SEERAJ ENERGY</h1>
    <p>is a new breed of renewable energy project management company in Tunisia</p>
</div>